.container{
    
}

h1{
    margin: 0;
    padding: 0;
}

.name-1{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgb(133, 0, 0);
    margin: 0;
    padding: 0;
}

.name-2{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgb(98, 0, 244);
    margin: 0;
    padding: 0;
}
